@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  @supports (font-variation-settings: normal) {
    @font-face {
      font-family: 'Inter var';
      font-weight: 100 900;
      font-display: swap;
      font-style: normal;
      font-named-instance: 'Regular';
      src: url('/fonts/Inter-roman.var.woff2?v=3.19') format('woff2');
    }

    @font-face {
      font-family: 'Inter var';
      font-weight: 100 900;
      font-display: swap;
      font-style: italic;
      font-named-instance: 'Italic';
      src: url('/fonts/Inter-italic.var.woff2?v=3.19') format('woff2');
    }
  }
}

@layer utilities {
  @supports (height: 100dvh) {
    .h-screen {
      height: 100dvh;
    }

    .min-h-screen {
      min-height: 100dvh;
    }

    .max-h-screen {
      max-height: 100dvh;
    }
  }
}
