@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @supports (height: 100dvh) {
    .h-screen {
      height: 100dvh;
    }

    .min-h-screen {
      min-height: 100dvh;
    }

    .max-h-screen {
      max-height: 100dvh;
    }
  }
}
