#!/usr/bin/env bash

# Use the Unofficial Bash Strict Mode
# @see http://redsymbol.net/articles/unofficial-bash-strict-mode/
set -euo pipefail

PATH_add "${PWD}/bin"
PATH_add "${PWD}/node_modules/.bin"

[[ -f .envrc.encrypted ]] && source_env .envrc.encrypted
[[ -f .envrc.local ]] && source_env .envrc.local

