{
  "root": true,
  "settings": {
    "next": {
      "rootDir": "apps/web/"
    },
    "react": {
      "version": "17.0.2"
    },
    "tailwindcss": {
      "callees": ["twMerge"],
      "config": "apps/web/tailwind.config.js"
    }
  },
  "plugins": [
    "codegen",
    "eslint-comments",
    "promise",
    "tailwindcss",
    "unicorn"
  ],
  "extends": [
    "next/core-web-vitals",
    "plugin:eslint-comments/recommended",
    "plugin:promise/recommended",
    "plugin:tailwindcss/recommended"
  ],
  "rules": {
    "arrow-body-style": "warn",
    "object-shorthand": "warn",
    "prefer-const": "warn",
    "quotes": ["warn", "single", {"avoidEscape": true}],
    "codegen/codegen": "warn",
    "eslint-comments/disable-enable-pair": "off",
    "eslint-comments/no-unlimited-disable": "off",
    "eslint-comments/no-unused-disable": "warn",
    "promise/always-return": "off",
    "react/jsx-curly-brace-presence": "warn",
    "react-hooks/exhaustive-deps": [
      "warn",
      {
        "additionalHooks": "(useUpdateEffect)"
      }
    ],
    "unicorn/catch-error-name": ["warn", {"name": "err"}],
    "unicorn/escape-case": "warn",
    "unicorn/no-await-expression-member": "warn",
    "unicorn/no-console-spaces": "warn",
    "unicorn/no-instanceof-array": "warn",
    "unicorn/no-useless-fallback-in-spread": "warn",
    "unicorn/no-useless-length-check": "warn",
    "unicorn/no-useless-promise-resolve-reject": "warn",
    "unicorn/no-useless-spread": "warn",
    "unicorn/number-literal-case": "warn",
    "unicorn/prefer-add-event-listener": "warn",
    "unicorn/prefer-array-find": "warn",
    "unicorn/prefer-array-flat-map": "warn",
    "unicorn/prefer-array-flat": "warn",
    "unicorn/prefer-array-index-of": "warn",
    "unicorn/prefer-array-some": "warn",
    "unicorn/prefer-code-point": "warn",
    "unicorn/prefer-date-now": "warn",
    "unicorn/prefer-default-parameters": "warn",
    "unicorn/prefer-dom-node-append": "warn",
    "unicorn/prefer-dom-node-dataset": "warn",
    "unicorn/prefer-dom-node-remove": "warn",
    "unicorn/prefer-dom-node-text-content": "warn",
    "unicorn/prefer-event-target": "warn",
    "unicorn/prefer-includes": "warn",
    "unicorn/prefer-keyboard-event-key": "warn",
    "unicorn/prefer-math-trunc": "warn",
    "unicorn/prefer-modern-dom-apis": "warn",
    "unicorn/prefer-modern-math-apis": "warn",
    "unicorn/prefer-native-coercion-functions": "warn",
    "unicorn/prefer-negative-index": "warn",
    "unicorn/prefer-node-protocol": "warn",
    "unicorn/prefer-number-properties": "warn",
    "unicorn/prefer-object-from-entries": "warn",
    "unicorn/prefer-optional-catch-binding": "warn",
    "unicorn/prefer-prototype-methods": "warn",
    "unicorn/prefer-query-selector": "warn",
    "unicorn/prefer-reflect-apply": "warn",
    "unicorn/prefer-regexp-test": "warn",
    "unicorn/prefer-string-replace-all": "warn",
    "unicorn/prefer-string-slice": "warn",
    "unicorn/prefer-string-starts-ends-with": "warn",
    "unicorn/prefer-string-trim-start-end": "warn",
    "unicorn/prefer-switch": "warn",
    "unicorn/prefer-top-level-await": "warn",
    "unicorn/prefer-type-error": "warn",
    "unicorn/relative-url-style": "warn",
    "unicorn/require-array-join-separator": "warn",
    "unicorn/require-number-to-fixed-digits-argument": "warn",
    "unicorn/template-indent": "warn",
    "unicorn/throw-new-error": "warn"
  }
}
