{
  "root": true,
  "settings": {
    "next": {
      "rootDir": "apps/next/"
    },
    "react": {
      "version": "17.0.2"
    },
    "tailwindcss": {
      "callees": ["twMerge"],
      "config": "apps/next/tailwind.config.js"
    }
  },
  "plugins": [
    "codegen",
    "eslint-comments",
    "promise",
    "tailwindcss",
    "unicorn"
  ],
  "extends": [
    "next/core-web-vitals",
    "plugin:eslint-comments/recommended",
    "plugin:promise/recommended",
    "plugin:tailwindcss/recommended"
  ],
  "rules": {
    "arrow-body-style": "warn",
    "object-shorthand": "warn",
    "prefer-const": "warn",
    "quotes": ["warn", "single", {"avoidEscape": true}],
    "codegen/codegen": "warn",
    "import/no-unresolved": "error",
    "eslint-comments/disable-enable-pair": "off",
    "eslint-comments/no-unlimited-disable": "off",
    "eslint-comments/no-unused-disable": "warn",
    "promise/always-return": "off",
    "react/jsx-curly-brace-presence": "warn",
    "react-hooks/exhaustive-deps": [
      "warn",
      {
        "additionalHooks": "(useUpdateEffect)"
      }
    ],
    "unicorn/catch-error-name": ["warn", {"name": "err"}],
    "unicorn/consistent-destructuring": "warn", // Too annoying...
    "unicorn/empty-brace-spaces": "warn",
    "unicorn/error-message": "warn",
    "unicorn/escape-case": "warn",
    "unicorn/expiring-todo-comments": "warn",
    "unicorn/explicit-length-check": "off", // No strong reason to...
    "unicorn/import-style": "warn",
    "unicorn/new-for-builtins": "warn",
    "unicorn/no-array-callback-reference": "warn",
    "unicorn/no-array-method-this-argument": "warn",
    "unicorn/no-array-push-push": "warn",
    "unicorn/no-await-expression-member": "warn",
    "unicorn/no-console-spaces": "warn",
    "unicorn/no-document-cookie": "warn",
    "unicorn/no-empty-file": "warn",
    "unicorn/no-hex-escape": "warn",
    "unicorn/no-instanceof-array": "warn",
    "unicorn/no-invalid-remove-event-listener": "warn",
    "unicorn/no-new-array": "warn",
    "unicorn/no-new-buffer": "warn",
    "unicorn/no-static-only-class": "warn",
    "unicorn/no-thenable": "warn",
    "unicorn/no-this-assignment": "warn",
    "unicorn/no-unreadable-array-destructuring": "warn",
    "unicorn/no-unreadable-iife": "warn",
    "unicorn/no-useless-fallback-in-spread": "warn",
    "unicorn/no-useless-length-check": "warn",
    "unicorn/no-useless-promise-resolve-reject": "warn",
    "unicorn/no-useless-spread": "warn",
    "unicorn/no-zero-fractions": "warn",
    "unicorn/number-literal-case": "warn",
    "unicorn/prefer-add-event-listener": "warn",
    "unicorn/prefer-array-find": "warn",
    "unicorn/prefer-array-flat-map": "warn",
    "unicorn/prefer-array-flat": "warn",
    "unicorn/prefer-array-index-of": "warn",
    "unicorn/prefer-array-some": "warn",
    "unicorn/prefer-code-point": "warn",
    "unicorn/prefer-date-now": "warn",
    "unicorn/prefer-default-parameters": "warn",
    "unicorn/prefer-dom-node-append": "warn",
    "unicorn/prefer-dom-node-dataset": "warn",
    "unicorn/prefer-dom-node-remove": "warn",
    "unicorn/prefer-dom-node-text-content": "warn",
    "unicorn/prefer-event-target": "warn",
    "unicorn/prefer-includes": "warn",
    "unicorn/prefer-keyboard-event-key": "warn",
    "unicorn/prefer-math-trunc": "warn",
    "unicorn/prefer-modern-dom-apis": "warn",
    "unicorn/prefer-modern-math-apis": "warn",
    "unicorn/prefer-native-coercion-functions": "warn",
    "unicorn/prefer-negative-index": "warn",
    "unicorn/prefer-node-protocol": "warn",
    "unicorn/prefer-number-properties": "warn",
    "unicorn/prefer-object-from-entries": "warn",
    "unicorn/prefer-optional-catch-binding": "warn",
    "unicorn/prefer-prototype-methods": "warn",
    "unicorn/prefer-query-selector": "warn",
    "unicorn/prefer-reflect-apply": "warn",
    "unicorn/prefer-regexp-test": "warn",
    "unicorn/prefer-string-replace-all": "warn",
    "unicorn/prefer-string-slice": "warn",
    "unicorn/prefer-string-starts-ends-with": "warn",
    "unicorn/prefer-string-trim-start-end": "warn",
    "unicorn/prefer-switch": "warn",
    "unicorn/prefer-top-level-await": "warn",
    "unicorn/prefer-type-error": "warn",
    "unicorn/relative-url-style": "warn",
    "unicorn/require-array-join-separator": "warn",
    "unicorn/require-number-to-fixed-digits-argument": "warn",
    "unicorn/template-indent": "warn",
    "unicorn/throw-new-error": "warn"
  },
  "overrides": [
    {
      "files": ["**/*.{ts,tsx}"],
      "parserOptions": {
        "project": "tsconfig.json"
      },
      "plugins": ["@typescript-eslint"],
      "extends": ["plugin:@typescript-eslint/strict"],
      "rules": {
        "@typescript-eslint/array-type": ["warn", {"default": "array-simple"}],
        "@typescript-eslint/ban-ts-comment": "off",
        "@typescript-eslint/ban-tslint-comment": "off",
        "@typescript-eslint/ban-types": "off",
        "@typescript-eslint/consistent-type-assertions": "warn",
        "@typescript-eslint/consistent-type-imports": [
          "warn",
          {"disallowTypeAnnotations": false}
        ],
        "@typescript-eslint/no-empty-function": "off",
        "@typescript-eslint/no-empty-interface": "off",
        "@typescript-eslint/no-explicit-any": "warn",
        "@typescript-eslint/no-extra-semi": "off",
        "@typescript-eslint/no-non-null-assertion": "warn",
        "@typescript-eslint/no-unused-vars": "off",
        "@typescript-eslint/no-var-requires": "off",
        "@typescript-eslint/no-unnecessary-condition": [
          "warn",
          {"allowConstantLoopConditions": true}
        ]
      }
    },
    {
      "files": [
        "**/__{mocks,tests}__/**/*.{js,ts,tsx}",
        "**/*.{spec,test}.{js,ts,tsx}"
      ],
      "plugins": ["jest", "jest-formatting"],
      "extends": [
        "plugin:jest/recommended",
        "plugin:jest-formatting/recommended"
      ]
    }
  ]
}
