# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules
**/.pnp
**/.pnp.js

# testing
/coverage

# next.js
/apps/next/.next/
/apps/next/out/

# production
/apps/next/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.env

# symlinked for working with ledgerSyncFS
/data

# eslint
/.eslintcache
