public-hoist-pattern[]=@jest/types
public-hoist-pattern[]=@trpc/server
public-hoist-pattern[]=*babel*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=cac
public-hoist-pattern[]=chrono-node
public-hoist-pattern[]=firebase
public-hoist-pattern[]=micro-memoize
public-hoist-pattern[]=next
public-hoist-pattern[]=plaid
public-hoist-pattern[]=remeda
public-hoist-pattern[]=zod
