---
  openapi: "3.1.0"
  info: 
    title: "Sources"
    version: "1.0.0"
    description: "Programatically control Airbyte Cloud, OSS & Enterprise."
  servers: 
    - 
      url: "https://api.airbyte.com/v1"
      description: "Airbyte API v1"
  paths: 
    /sources: 
      get: 
        tags: 
          - "Sources"
        responses: 
          200: 
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/SourcesResponse"
            description: "Successful operation"
          403: 
            description: "Not allowed"
          404: 
            description: "Not found"
        operationId: "listSources"
        summary: "List sources"
        x-use-speakeasy-middleware: true
        parameters: 
          - 
            name: "workspaceIds"
            description: "The UUIDs of the workspaces you wish to list sources for. Empty list will retrieve all allowed workspaces."
            schema: 
              type: "array"
              items: 
                format: "uuid"
                type: "string"
            example: "df08f6b0-b364-4cc1-9b3f-96f5d2fccfb2,b0796797-de23-4fc7-a5e2-7e131314718c"
            in: "query"
            required: false
          - 
            name: "includeDeleted"
            description: "Include deleted sources in the returned results."
            schema: 
              default: false
              type: "boolean"
            in: "query"
            required: false
          - 
            name: "limit"
            description: "Set the limit on the number of sources returned. The default is 20."
            schema: 
              format: "int32"
              type: "integer"
              minimum: 1
              maximum: 100
              default: 20
            in: "query"
          - 
            name: "offset"
            description: "Set the offset to start at when returning sources. The default is 0"
            schema: 
              type: "integer"
              format: "int32"
              minimum: 0
              default: 0
            in: "query"
      post: 
        requestBody: 
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/SourceCreateRequest"
              examples: 
                Source Creation Request Example: 
                  value: 
                    configuration: 
                      airbyte_source_name: "google-ads"
                      conversion_window_days: 14
                      customer_id: "1234567890"
                      start_date: "2023-01-01"
                      end_date: "2024-01-01"
                    name: "My Source"
                    workspaceId: "744cc0ed-7f05-4949-9e60-2a814f90c035"
        tags: 
          - "Sources"
        responses: 
          200: 
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/SourceResponse"
                examples: 
                  Source Creation Response Example: 
                    value: 
                      sourceId: "0c31738c-0b2d-4887-b506-e2cd1c39cc35"
            description: "Successful operation"
          400: 
            description: "Invalid data"
          403: 
            description: "Not allowed"
        operationId: "createSource"
        summary: "Create a source"
        description: "Creates a source given a name, workspace id, and a json blob containing the configuration for the source."
        x-use-speakeasy-middleware: true
    /sources/{sourceId}: 
      get: 
        tags: 
          - "Sources"
        responses: 
          200: 
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/SourceResponse"
                examples: 
                  Source Get Response Example: 
                    value: 
                      sourceId: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
                      name: "running"
                      sourceType: "postgres"
                      workspaceId: "744cc0ed-7f05-4949-9e60-2a814f90c035"
            description: "Get a Source by the id in the path."
          403: 
            description: "Not allowed"
          404: 
            description: "Not found"
        operationId: "getSource"
        summary: "Get Source details"
        x-use-speakeasy-middleware: true
      patch: 
        tags: 
          - "Sources"
        requestBody: 
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/SourcePatchRequest"
              examples: 
                Source Update Request Example: 
                  value: 
                    configuration: 
                      airbyte_source_name: "google-ads"
                      conversion_window_days: 14
                      customer_id: "1234567890"
                      start_date: "2023-01-01"
                      end_date: "2024-01-01"
                    name: "My Source"
                    workspaceId: "744cc0ed-7f05-4949-9e60-2a814f90c035"
        responses: 
          200: 
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/SourceResponse"
                examples: 
                  Source Update Response Example: 
                    value: 
                      sourceId: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
                      name: "running"
                      sourceType: "postgres"
                      workspaceId: "744cc0ed-7f05-4949-9e60-2a814f90c035"
            description: "Update a Source"
          403: 
            description: "Not allowed"
          404: 
            description: "Not found"
        operationId: "patchSource"
        summary: "Update a Source"
        x-use-speakeasy-middleware: true
      put: 
        tags: 
          - "Sources"
        requestBody: 
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/SourcePutRequest"
              examples: 
                Source Update Request Example: 
                  value: 
                    configuration: 
                      airbyte_source_name: "google-ads"
                      conversion_window_days: 14
                      customer_id: "1234567890"
                      start_date: "2023-01-01"
                      end_date: "2024-01-01"
                    name: "My Source"
                    workspaceId: "744cc0ed-7f05-4949-9e60-2a814f90c035"
        responses: 
          200: 
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/SourceResponse"
                examples: 
                  Source Update Response Example: 
                    value: 
                      sourceId: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
                      name: "running"
                      sourceType: "postgres"
                      workspaceId: "744cc0ed-7f05-4949-9e60-2a814f90c035"
            description: "Update a source and fully overwrite it"
          403: 
            description: "Not allowed"
          404: 
            description: "Not found"
        operationId: "putSource"
        summary: "Update a Source and fully overwrite it"
        x-use-speakeasy-middleware: true
        x-speakeasy-entity-operation: "Source#update"
      delete: 
        tags: 
          - "Sources"
        responses: 
          204: 
            description: "The resource was deleted successfully"
          403: 
            description: "Not allowed"
          404: 
            description: "Not found"
        operationId: "deleteSource"
        summary: "Delete a Source"
        x-use-speakeasy-middleware: true
      parameters: 
        - 
          name: "sourceId"
          schema: 
            format: "UUID"
            type: "string"
          in: "path"
          required: true
    /sources/initiateOAuth: 
      post: 
        requestBody: 
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/InitiateOauthRequest"
          required: true
        tags: 
          - "Sources"
        responses: 
          200: 
            $ref: "#/components/responses/InitiateOauthResponse"
          400: 
            description: "A field in the body has not been set appropriately."
          403: 
            description: "API key is invalid."
        operationId: "initiateOAuth"
        summary: "Initiate OAuth for a source"
        description: "Given a source ID, workspace ID, and redirect URL, initiates OAuth for the source.\n\nThis returns a fully formed URL for performing user authentication against the relevant source identity provider (IdP). Once authentication has been completed, the IdP will redirect to an Airbyte endpoint which will save the access and refresh tokens off as a secret and return the secret ID to the redirect URL specified in the `secret_id` query string parameter.\n\nThat secret ID can be used to create a source with credentials in place of actual tokens."
        x-use-speakeasy-middleware: true
  components: 
    responses: 
      InitiateOauthResponse: 
        content: 
          application/json: {}
        description: "Response from the initiate OAuth call should be an object with a single property which will be the `redirect_url`. If a user is redirected to this URL, they'll be prompted by the identity provider to authenticate."
    schemas: 
      RedirectUrlResponse: 
        title: "Root Type for RedirectUrlResponse"
        description: ""
        type: "object"
        properties: 
          redirectUrl: 
            format: "url"
            type: "string"
        example: 
          redirectUrl: "https://airbyte.portal.speakeasyapi.dev?speakeasyAccessToken=eydas.ad45.1234"
      JobResponse: 
        title: "Root Type for JobResponse"
        description: "Provides details of a single job."
        required: 
          - "jobId"
          - "status"
          - "jobType"
          - "startTime"
          - "connectionId"
        type: "object"
        properties: 
          jobId: 
            format: "int64"
            type: "integer"
          status: 
            $ref: "#/components/schemas/JobStatusEnum"
          jobType: 
            $ref: "#/components/schemas/JobTypeEnum"
          startTime: 
            type: "string"
          connectionId: 
            format: "UUID"
            type: "string"
          lastUpdatedAt: 
            type: "string"
          duration: 
            description: "Duration of a sync in ISO_8601 format"
            type: "string"
          bytesSynced: 
            format: "int64"
            type: "integer"
          rowsSynced: 
            format: "int64"
            type: "integer"
        example: 
          id: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
          status: "running"
          jobType: "sync"
          startTime: "2023-03-25T01:30:50Z"
          duration: "PT8H6M12S"
      JobsResponse: 
        title: "Root Type for JobsResponse"
        description: ""
        required: 
          - "data"
        type: "object"
        properties: 
          previous: 
            type: "string"
          next: 
            type: "string"
          data: 
            type: "array"
            items: 
              $ref: "#/components/schemas/JobResponse"
        example: 
          next: "https://api.airbyte.com/v1/jobs?limit=5&offset=10"
          previous: "https://api.airbyte.com/v1/jobs?limit=5&offset=0"
          data: 
            - 
              id: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
              status: "running"
              jobType: "sync"
              startTime: "2023-03-25T01:30:50Z"
      ConnectionCreateRequest: 
        required: 
          - "sourceId"
          - "destinationId"
        type: "object"
        properties: 
          name: 
            description: "Optional name of the connection"
            type: "string"
          sourceId: 
            format: "uuid"
            type: "string"
          destinationId: 
            format: "uuid"
            type: "string"
          configurations: 
            $ref: "#/components/schemas/StreamConfigurations"
          schedule: 
            $ref: "#/components/schemas/ConnectionSchedule"
          dataResidency: 
            $ref: "#/components/schemas/GeographyEnum"
          namespaceDefinition: 
            $ref: "#/components/schemas/NamespaceDefinitionEnum"
          namespaceFormat: 
            type: "string"
            description: "Used when namespaceDefinition is 'custom_format'. If blank then behaves like namespaceDefinition = 'destination'. If \"${SOURCE_NAMESPACE}\" then behaves like namespaceDefinition = 'source'."
            default: null
            example: "${SOURCE_NAMESPACE}"
          prefix: 
            type: "string"
            description: "Prefix that will be prepended to the name of each stream when it is written to the destination (ex. “airbyte_” causes “projects” => “airbyte_projects”)."
          nonBreakingSchemaUpdatesBehavior: 
            $ref: "#/components/schemas/NonBreakingSchemaUpdatesBehaviorEnum"
          status: 
            $ref: "#/components/schemas/ConnectionStatusEnum"
        x-speakeasy-entity: "Connection"
        x-speakeasy-param-suppress-computed-diff: true
      ConnectionPatchRequest: 
        type: "object"
        properties: 
          name: 
            description: "Optional name of the connection"
            type: "string"
          configurations: 
            $ref: "#/components/schemas/StreamConfigurations"
          schedule: 
            $ref: "#/components/schemas/ConnectionSchedule"
          dataResidency: 
            $ref: "#/components/schemas/GeographyEnumNoDefault"
          namespaceDefinition: 
            $ref: "#/components/schemas/NamespaceDefinitionEnumNoDefault"
          namespaceFormat: 
            type: "string"
            description: "Used when namespaceDefinition is 'custom_format'. If blank then behaves like namespaceDefinition = 'destination'. If \"${SOURCE_NAMESPACE}\" then behaves like namespaceDefinition = 'source'."
            default: null
            example: "${SOURCE_NAMESPACE}"
          prefix: 
            type: "string"
            description: "Prefix that will be prepended to the name of each stream when it is written to the destination (ex. “airbyte_” causes “projects” => “airbyte_projects”)."
          nonBreakingSchemaUpdatesBehavior: 
            $ref: "#/components/schemas/NonBreakingSchemaUpdatesBehaviorEnumNoDefault"
          status: 
            $ref: "#/components/schemas/ConnectionStatusEnum"
        x-speakeasy-entity: "Connection"
        x-speakeasy-param-suppress-computed-diff: true
      JobCreateRequest: 
        title: "Root Type for JobCreate"
        description: "Creates a new Job from the configuration provided in the request body."
        required: 
          - "jobType"
          - "connectionId"
        type: "object"
        properties: 
          connectionId: 
            format: "UUID"
            type: "string"
          jobType: 
            $ref: "#/components/schemas/JobTypeEnum"
        example: 
          connectionId: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
          jobType: "sync"
      JobStatusEnum: 
        enum: 
          - "pending"
          - "running"
          - "incomplete"
          - "failed"
          - "succeeded"
          - "cancelled"
        type: "string"
      JobTypeEnum: 
        description: "Enum that describes the different types of jobs that the platform runs."
        enum: 
          - "sync"
          - "reset"
        type: "string"
      SourceCreateRequest: 
        required: 
          - "name"
          - "workspaceId"
          - "configuration"
        type: "object"
        properties: 
          name: 
            type: "string"
          workspaceId: 
            format: "uuid"
            type: "string"
          configuration: 
            $ref: "#/components/schemas/SourceConfiguration"
          secretId: 
            description: "Optional secretID obtained through the public API OAuth redirect flow."
            type: "string"
        x-implements: "io.airbyte.public_api.server.helpers.ConfigurableActor"
        x-speakeasy-entity: "Source"
        x-speakeasy-param-suppress-computed-diff: true
      SourcePutRequest: 
        required: 
          - "name"
          - "configuration"
        type: "object"
        properties: 
          name: 
            type: "string"
          configuration: 
            $ref: "#/components/schemas/SourceConfiguration"
        x-implements: "io.airbyte.public_api.server.helpers.ConfigurableActor"
        x-speakeasy-entity: "Source"
        x-speakeasy-param-suppress-computed-diff: true
      SourcePatchRequest: 
        type: "object"
        properties: 
          name: 
            type: "string"
            example: "My source"
          workspaceId: 
            format: "uuid"
            type: "string"
          configuration: 
            $ref: "#/components/schemas/SourceConfiguration"
          secretId: 
            description: "Optional secretID obtained through the public API OAuth redirect flow."
            type: "string"
        x-implements: "io.airbyte.public_api.server.helpers.ConfigurableActor"
        x-speakeasy-entity: "Source"
        x-speakeasy-param-suppress-computed-diff: true
      OAuthInputConfiguration: 
        description: "Arbitrary vars to pass for OAuth depending on what the source/destination spec requires."
        type: "object"
        example: 
          host: "test.snowflake.com"
      ConnectionResponse: 
        title: "Root Type for ConnectionResponse"
        description: "Provides details of a single connection."
        type: "object"
        required: 
          - "connectionId"
          - "name"
          - "sourceId"
          - "destinationId"
          - "workspaceId"
          - "status"
          - "schedule"
          - "dataResidency"
          - "configurations"
        properties: 
          connectionId: 
            format: "UUID"
            type: "string"
          name: 
            type: "string"
          sourceId: 
            format: "UUID"
            type: "string"
          destinationId: 
            format: "UUID"
            type: "string"
          workspaceId: 
            format: "UUID"
            type: "string"
          status: 
            $ref: "#/components/schemas/ConnectionStatusEnum"
          schedule: 
            $ref: "#/components/schemas/ConnectionScheduleResponse"
          dataResidency: 
            $ref: "#/components/schemas/GeographyEnum"
          nonBreakingSchemaUpdatesBehavior: 
            $ref: "#/components/schemas/NonBreakingSchemaUpdatesBehaviorEnum"
          namespaceDefinition: 
            $ref: "#/components/schemas/NamespaceDefinitionEnum"
          namespaceFormat: 
            type: "string"
          prefix: 
            type: "string"
          configurations: 
            $ref: "#/components/schemas/StreamConfigurations"
        x-speakeasy-entity: "Connection"
        x-speakeasy-param-suppress-computed-diff: true
      ConnectionSchedule: 
        description: "schedule for when the the connection should run, per the schedule type"
        type: "object"
        required: 
          - "scheduleType"
        properties: 
          scheduleType: 
            $ref: "#/components/schemas/ScheduleTypeEnum"
          cronExpression: 
            type: "string"
      ScheduleTypeEnum: 
        type: "string"
        enum: 
          - "manual"
          - "cron"
      ConnectionScheduleResponse: 
        description: "schedule for when the the connection should run, per the schedule type"
        type: "object"
        required: 
          - "scheduleType"
        properties: 
          scheduleType: 
            $ref: "#/components/schemas/ScheduleTypeWithBasicEnum"
          cronExpression: 
            type: "string"
          basicTiming: 
            type: "string"
      ScheduleTypeWithBasicEnum: 
        type: "string"
        enum: 
          - "manual"
          - "cron"
          - "basic"
      GeographyEnum: 
        type: "string"
        enum: 
          - "auto"
          - "us"
          - "eu"
        default: "auto"
      GeographyEnumNoDefault: 
        type: "string"
        enum: 
          - "auto"
          - "us"
          - "eu"
      ConnectionStatusEnum: 
        type: "string"
        enum: 
          - "active"
          - "inactive"
          - "deprecated"
      NamespaceDefinitionEnum: 
        type: "string"
        description: "Define the location where the data will be stored in the destination"
        enum: 
          - "source"
          - "destination"
          - "custom_format"
        default: "destination"
      NonBreakingSchemaUpdatesBehaviorEnum: 
        type: "string"
        description: "Set how Airbyte handles syncs when it detects a non-breaking schema change in the source"
        enum: 
          - "ignore"
          - "disable_connection"
          - "propagate_columns"
          - "propagate_fully"
        default: "ignore"
      NamespaceDefinitionEnumNoDefault: 
        type: "string"
        description: "Define the location where the data will be stored in the destination"
        enum: 
          - "source"
          - "destination"
          - "custom_format"
      NonBreakingSchemaUpdatesBehaviorEnumNoDefault: 
        type: "string"
        description: "Set how Airbyte handles syncs when it detects a non-breaking schema change in the source"
        enum: 
          - "ignore"
          - "disable_connection"
          - "propagate_columns"
          - "propagate_fully"
      DestinationResponse: 
        title: "Root Type for DestinationResponse"
        description: "Provides details of a single destination."
        type: "object"
        required: 
          - "destinationId"
          - "name"
          - "destinationType"
          - "workspaceId"
          - "configuration"
        properties: 
          destinationId: 
            format: "UUID"
            type: "string"
          name: 
            type: "string"
          destinationType: 
            type: "string"
          workspaceId: 
            format: "UUID"
            type: "string"
          configuration: 
            $ref: "#/components/schemas/DestinationConfiguration"
        example: 
          destinationId: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
          name: "Analytics Team Postgres"
          destinationType: "postgres"
          workspaceId: "871d9b60-11d1-44cb-8c92-c246d53bf87e"
      SourceResponse: 
        title: "Root Type for SourceResponse"
        description: "Provides details of a single source."
        type: "object"
        required: 
          - "sourceId"
          - "name"
          - "sourceType"
          - "workspaceId"
          - "configuration"
        properties: 
          sourceId: 
            format: "UUID"
            type: "string"
          name: 
            type: "string"
          sourceType: 
            type: "string"
          workspaceId: 
            format: "UUID"
            type: "string"
          configuration: 
            $ref: "#/components/schemas/SourceConfiguration"
        example: 
          sourceId: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
          name: "Analytics Team Postgres"
          sourceType: "postgres"
          workspaceId: "871d9b60-11d1-44cb-8c92-c246d53bf87e"
      DestinationCreateRequest: 
        required: 
          - "name"
          - "workspaceId"
          - "configuration"
        type: "object"
        properties: 
          name: 
            type: "string"
          workspaceId: 
            format: "uuid"
            type: "string"
          configuration: 
            $ref: "#/components/schemas/DestinationConfiguration"
        x-implements: "io.airbyte.public_api.server.helpers.ConfigurableActor"
        x-speakeasy-entity: "Destination"
        x-speakeasy-param-suppress-computed-diff: true
      DestinationPatchRequest: 
        type: "object"
        properties: 
          name: 
            type: "string"
          configuration: 
            $ref: "#/components/schemas/DestinationConfiguration"
        x-implements: "io.airbyte.public_api.server.helpers.ConfigurableActor"
        x-speakeasy-entity: "Destination"
        x-speakeasy-param-suppress-computed-diff: true
      DestinationPutRequest: 
        required: 
          - "name"
          - "configuration"
        type: "object"
        properties: 
          name: 
            type: "string"
          configuration: 
            $ref: "#/components/schemas/DestinationConfiguration"
        x-implements: "io.airbyte.public_api.server.helpers.ConfigurableActor"
        x-speakeasy-entity: "Destination"
        x-speakeasy-param-suppress-computed-diff: true
      WorkspaceCreateRequest: 
        required: 
          - "name"
        type: "object"
        properties: 
          name: 
            description: "Name of the workspace"
            type: "string"
        x-speakeasy-entity: "Workspace"
        x-speakeasy-param-suppress-computed-diff: true
      WorkspaceUpdateRequest: 
        required: 
          - "name"
        type: "object"
        properties: 
          name: 
            description: "Name of the workspace"
            type: "string"
        x-speakeasy-entity: "Workspace"
        x-speakeasy-param-suppress-computed-diff: true
      WorkspaceResponse: 
        title: "Root Type for WorkspaceResponse"
        description: "Provides details of a single workspace."
        type: "object"
        required: 
          - "workspaceId"
          - "name"
          - "dataResidency"
        properties: 
          workspaceId: 
            format: "UUID"
            type: "string"
          name: 
            type: "string"
          dataResidency: 
            $ref: "#/components/schemas/GeographyEnum"
        x-speakeasy-entity: "Workspace"
        x-speakeasy-param-suppress-computed-diff: true
      ConnectionsResponse: 
        title: "Root Type for ConnectionsResponse"
        description: ""
        required: 
          - "data"
        type: "object"
        properties: 
          previous: 
            type: "string"
          next: 
            type: "string"
          data: 
            type: "array"
            items: 
              $ref: "#/components/schemas/ConnectionResponse"
            default: []
        example: 
          next: "https://api.airbyte.com/v1/connections?limit=5&offset=10"
          previous: "https://api.airbyte.com/v1/connections?limit=5&offset=0"
          data: 
            - 
              name: "test-connection"
            - 
              connection_id: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
            - 
              sourceId: "49237019-645d-47d4-b45b-5eddf97775ce"
            - 
              destinationId: "al312fs-0ab1-4f72-9ed7-0b8fc27c5826"
            - 
              schedule: 
                scheduleType: "manual"
            - 
              status: "active"
            - 
              dataResidency: "auto"
      SourcesResponse: 
        title: "Root Type for SourcesResponse"
        description: ""
        required: 
          - "data"
        type: "object"
        properties: 
          previous: 
            type: "string"
          next: 
            type: "string"
          data: 
            type: "array"
            items: 
              $ref: "#/components/schemas/SourceResponse"
        example: 
          next: "https://api.airbyte.com/v1/sources?limit=5&offset=10"
          previous: "https://api.airbyte.com/v1/sources?limit=5&offset=0"
          data: 
            sourceId: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
            name: "Analytics Team Postgres"
            sourceType: "postgres"
            workspaceId: "871d9b60-11d1-44cb-8c92-c246d53bf87e"
      DestinationsResponse: 
        title: "Root Type for DestinationsResponse"
        description: ""
        required: 
          - "data"
        type: "object"
        properties: 
          previous: 
            type: "string"
          next: 
            type: "string"
          data: 
            type: "array"
            items: 
              $ref: "#/components/schemas/DestinationResponse"
        example: 
          next: "https://api.airbyte.com/v1/destinations?limit=5&offset=10"
          previous: "https://api.airbyte.com/v1/destinations?limit=5&offset=0"
          data: 
            destinationId: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
            name: "Analytics Team Postgres"
            destinationType: "postgres"
            workspaceId: "871d9b60-11d1-44cb-8c92-c246d53bf87e"
      WorkspacesResponse: 
        title: "Root Type for WorkspacesResponse"
        description: ""
        required: 
          - "data"
        type: "object"
        properties: 
          previous: 
            type: "string"
          next: 
            type: "string"
          data: 
            type: "array"
            items: 
              $ref: "#/components/schemas/WorkspaceResponse"
        example: 
          next: "https://api.airbyte.com/v1/workspaces?limit=5&offset=10"
          previous: "https://api.airbyte.com/v1/workspaces?limit=5&offset=0"
          data: 
            workspaceId: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
            name: "Acme Company"
            dataResidency: "auto"
      StreamConfiguration: 
        description: "Configurations for a single stream."
        type: "object"
        required: 
          - "name"
        properties: 
          name: 
            type: "string"
          syncMode: 
            $ref: "#/components/schemas/ConnectionSyncModeEnum"
          cursorField: 
            description: "Path to the field that will be used to determine if a record is new or modified since the last sync. This field is REQUIRED if `sync_mode` is `incremental` unless there is a default."
            type: "array"
            items: 
              type: "string"
          primaryKey: 
            description: "Paths to the fields that will be used as primary key. This field is REQUIRED if `destination_sync_mode` is `*_dedup` unless it is already supplied by the source schema."
            type: "array"
            items: 
              type: "array"
              items: 
                type: "string"
      StreamConfigurations: 
        description: "A list of configured stream options for a connection."
        type: "object"
        properties: 
          streams: 
            type: "array"
            items: 
              $ref: "#/components/schemas/StreamConfiguration"
      StreamPropertiesResponse: 
        description: "A list of stream properties."
        type: "object"
        properties: 
          streams: 
            type: "array"
            items: 
              $ref: "#/components/schemas/StreamProperties"
      StreamProperties: 
        description: "The stream properties associated with a connection."
        type: "object"
        properties: 
          streamName: 
            type: "string"
          syncModes: 
            type: "array"
            items: 
              $ref: "#/components/schemas/ConnectionSyncModeEnum"
          defaultCursorField: 
            type: "array"
            items: 
              type: "string"
          sourceDefinedCursorField: 
            type: "boolean"
          sourceDefinedPrimaryKey: 
            type: "array"
            items: 
              type: "array"
              items: 
                type: "string"
          propertyFields: 
            type: "array"
            items: 
              type: "array"
              items: 
                type: "string"
      ConnectionSyncModeEnum: 
        enum: 
          - "full_refresh_overwrite"
          - "full_refresh_append"
          - "incremental_append"
          - "incremental_deduped_history"
      ActorTypeEnum: 
        description: "Whether you're setting this override for a source or destination"
        enum: 
          - "source"
          - "destination"
      source-trello: 
        title: "Trello Spec"
        type: "object"
        required: 
          - "key"
          - "token"
          - "start_date"
          - "sourceType"
        properties: 
          key: 
            type: "string"
            title: "API key"
            description: "Trello API key. See the <a href=\"https://developer.atlassian.com/cloud/trello/guides/rest-api/authorization/#using-basic-oauth\">docs</a> for instructions on how to generate it."
            airbyte_secret: true
            order: 0
          token: 
            type: "string"
            title: "API token"
            description: "Trello API token. See the <a href=\"https://developer.atlassian.com/cloud/trello/guides/rest-api/authorization/#using-basic-oauth\">docs</a> for instructions on how to generate it."
            airbyte_secret: true
            order: 1
          start_date: 
            type: "string"
            title: "Start Date"
            pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
            description: "UTC date and time in the format 2017-01-25T00:00:00Z. Any data before this date will not be replicated."
            examples: 
              - "2021-03-01T00:00:00Z"
            format: "date-time"
            order: 2
          board_ids: 
            type: "array"
            items: 
              type: "string"
              pattern: "^[0-9a-fA-F]{24}$"
            title: "Trello Board IDs"
            description: "IDs of the boards to replicate data from. If left empty, data from all boards to which you have access will be replicated."
            order: 3
          sourceType: 
            title: "trello"
            const: "trello"
            enum: 
              - "trello"
            order: 0
            type: "string"
      source-trello-update: 
        title: "Trello Spec"
        type: "object"
        required: 
          - "key"
          - "token"
          - "start_date"
        properties: 
          key: 
            type: "string"
            title: "API key"
            description: "Trello API key. See the <a href=\"https://developer.atlassian.com/cloud/trello/guides/rest-api/authorization/#using-basic-oauth\">docs</a> for instructions on how to generate it."
            airbyte_secret: true
            order: 0
          token: 
            type: "string"
            title: "API token"
            description: "Trello API token. See the <a href=\"https://developer.atlassian.com/cloud/trello/guides/rest-api/authorization/#using-basic-oauth\">docs</a> for instructions on how to generate it."
            airbyte_secret: true
            order: 1
          start_date: 
            type: "string"
            title: "Start Date"
            pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
            description: "UTC date and time in the format 2017-01-25T00:00:00Z. Any data before this date will not be replicated."
            examples: 
              - "2021-03-01T00:00:00Z"
            format: "date-time"
            order: 2
          board_ids: 
            type: "array"
            items: 
              type: "string"
              pattern: "^[0-9a-fA-F]{24}$"
            title: "Trello Board IDs"
            description: "IDs of the boards to replicate data from. If left empty, data from all boards to which you have access will be replicated."
            order: 3
      source-the-guardian-api: 
        title: "The Guardian Api Spec"
        type: "object"
        required: 
          - "api_key"
          - "start_date"
          - "sourceType"
        properties: 
          api_key: 
            title: "API Key"
            type: "string"
            description: "Your API Key. See <a href=\"https://open-platform.theguardian.com/access/\">here</a>. The key is case sensitive."
            airbyte_secret: true
          start_date: 
            title: "Start Date"
            type: "string"
            description: "Use this to set the minimum date (YYYY-MM-DD) of the results. Results older than the start_date will not be shown."
            pattern: "^([1-9][0-9]{3})\\-(0?[1-9]|1[012])\\-(0?[1-9]|[12][0-9]|3[01])$"
            examples: 
              - "YYYY-MM-DD"
          query: 
            title: "Query"
            type: "string"
            description: "(Optional) The query (q) parameter filters the results to only those that include that search term. The q parameter supports AND, OR and NOT operators."
            examples: 
              - "environment AND NOT water"
              - "environment AND political"
              - "amusement park"
              - "political"
          tag: 
            title: "Tag"
            type: "string"
            description: "(Optional) A tag is a piece of data that is used by The Guardian to categorise content. Use this parameter to filter results by showing only the ones matching the entered tag. See <a href=\"https://content.guardianapis.com/tags?api-key=test\">here</a> for a list of all tags, and <a href=\"https://open-platform.theguardian.com/documentation/tag\">here</a> for the tags endpoint documentation."
            examples: 
              - "environment/recycling"
              - "environment/plasticbags"
              - "environment/energyefficiency"
          section: 
            title: "Section"
            type: "string"
            description: "(Optional) Use this to filter the results by a particular section. See <a href=\"https://content.guardianapis.com/sections?api-key=test\">here</a> for a list of all sections, and <a href=\"https://open-platform.theguardian.com/documentation/section\">here</a> for the sections endpoint documentation."
            examples: 
              - "media"
              - "technology"
              - "housing-network"
          end_date: 
            title: "End Date"
            type: "string"
            description: "(Optional) Use this to set the maximum date (YYYY-MM-DD) of the results. Results newer than the end_date will not be shown. Default is set to the current date (today) for incremental syncs."
            pattern: "^([1-9][0-9]{3})\\-(0?[1-9]|1[012])\\-(0?[1-9]|[12][0-9]|3[01])$"
            examples: 
              - "YYYY-MM-DD"
          sourceType: 
            title: "the-guardian-api"
            const: "the-guardian-api"
            enum: 
              - "the-guardian-api"
            order: 0
            type: "string"
      source-the-guardian-api-update: 
        title: "The Guardian Api Spec"
        type: "object"
        required: 
          - "api_key"
          - "start_date"
        properties: 
          api_key: 
            title: "API Key"
            type: "string"
            description: "Your API Key. See <a href=\"https://open-platform.theguardian.com/access/\">here</a>. The key is case sensitive."
            airbyte_secret: true
          start_date: 
            title: "Start Date"
            type: "string"
            description: "Use this to set the minimum date (YYYY-MM-DD) of the results. Results older than the start_date will not be shown."
            pattern: "^([1-9][0-9]{3})\\-(0?[1-9]|1[012])\\-(0?[1-9]|[12][0-9]|3[01])$"
            examples: 
              - "YYYY-MM-DD"
          query: 
            title: "Query"
            type: "string"
            description: "(Optional) The query (q) parameter filters the results to only those that include that search term. The q parameter supports AND, OR and NOT operators."
            examples: 
              - "environment AND NOT water"
              - "environment AND political"
              - "amusement park"
              - "political"
          tag: 
            title: "Tag"
            type: "string"
            description: "(Optional) A tag is a piece of data that is used by The Guardian to categorise content. Use this parameter to filter results by showing only the ones matching the entered tag. See <a href=\"https://content.guardianapis.com/tags?api-key=test\">here</a> for a list of all tags, and <a href=\"https://open-platform.theguardian.com/documentation/tag\">here</a> for the tags endpoint documentation."
            examples: 
              - "environment/recycling"
              - "environment/plasticbags"
              - "environment/energyefficiency"
          section: 
            title: "Section"
            type: "string"
            description: "(Optional) Use this to filter the results by a particular section. See <a href=\"https://content.guardianapis.com/sections?api-key=test\">here</a> for a list of all sections, and <a href=\"https://open-platform.theguardian.com/documentation/section\">here</a> for the sections endpoint documentation."
            examples: 
              - "media"
              - "technology"
              - "housing-network"
          end_date: 
            title: "End Date"
            type: "string"
            description: "(Optional) Use this to set the maximum date (YYYY-MM-DD) of the results. Results newer than the end_date will not be shown. Default is set to the current date (today) for incremental syncs."
            pattern: "^([1-9][0-9]{3})\\-(0?[1-9]|1[012])\\-(0?[1-9]|[12][0-9]|3[01])$"
            examples: 
              - "YYYY-MM-DD"
      source-harvest: 
        title: "Harvest Spec"
        type: "object"
        required: 
          - "account_id"
          - "replication_start_date"
          - "sourceType"
        properties: 
          account_id: 
            title: "Account ID"
            description: "Harvest account ID. Required for all Harvest requests in pair with Personal Access Token"
            airbyte_secret: true
            type: "string"
            order: 0
          replication_start_date: 
            title: "Start Date"
            description: "UTC date and time in the format 2017-01-25T00:00:00Z. Any data before this date will not be replicated."
            pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
            examples: 
              - "2017-01-25T00:00:00Z"
            type: "string"
            order: 1
            format: "date-time"
          replication_end_date: 
            title: "End Date"
            description: "UTC date and time in the format 2017-01-25T00:00:00Z. Any data after this date will not be replicated."
            pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
            examples: 
              - "2017-01-25T00:00:00Z"
            type: "string"
            airbyte_hidden: true
            order: 2
            format: "date-time"
          credentials: 
            title: "Authentication mechanism"
            description: "Choose how to authenticate to Harvest."
            type: "object"
            order: 3
            oneOf: 
              - 
                type: "object"
                title: "Authenticate via Harvest (OAuth)"
                required: 
                  - "client_id"
                  - "client_secret"
                  - "refresh_token"
                additionalProperties: true
                properties: 
                  auth_type: 
                    type: "string"
                    const: "Client"
                    order: 0
                    enum: 
                      - "Client"
                  client_id: 
                    title: "Client ID"
                    type: "string"
                    description: "The Client ID of your Harvest developer application."
                  client_secret: 
                    title: "Client Secret"
                    type: "string"
                    description: "The Client Secret of your Harvest developer application."
                    airbyte_secret: true
                  refresh_token: 
                    title: "Refresh Token"
                    type: "string"
                    description: "Refresh Token to renew the expired Access Token."
                    airbyte_secret: true
              - 
                type: "object"
                title: "Authenticate with Personal Access Token"
                required: 
                  - "api_token"
                additionalProperties: true
                properties: 
                  auth_type: 
                    type: "string"
                    const: "Token"
                    order: 0
                    enum: 
                      - "Token"
                  api_token: 
                    title: "Personal Access Token"
                    description: "Log into Harvest and then create new <a href=\"https://id.getharvest.com/developers\"> personal access token</a>."
                    type: "string"
                    airbyte_secret: true
          sourceType: 
            title: "harvest"
            const: "harvest"
            enum: 
              - "harvest"
            order: 0
            type: "string"
      source-harvest-update: 
        title: "Harvest Spec"
        type: "object"
        required: 
          - "account_id"
          - "replication_start_date"
        properties: 
          account_id: 
            title: "Account ID"
            description: "Harvest account ID. Required for all Harvest requests in pair with Personal Access Token"
            airbyte_secret: true
            type: "string"
            order: 0
          replication_start_date: 
            title: "Start Date"
            description: "UTC date and time in the format 2017-01-25T00:00:00Z. Any data before this date will not be replicated."
            pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
            examples: 
              - "2017-01-25T00:00:00Z"
            type: "string"
            order: 1
            format: "date-time"
          replication_end_date: 
            title: "End Date"
            description: "UTC date and time in the format 2017-01-25T00:00:00Z. Any data after this date will not be replicated."
            pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
            examples: 
              - "2017-01-25T00:00:00Z"
            type: "string"
            airbyte_hidden: true
            order: 2
            format: "date-time"
          credentials: 
            title: "Authentication mechanism"
            description: "Choose how to authenticate to Harvest."
            type: "object"
            order: 3
            oneOf: 
              - 
                type: "object"
                title: "Authenticate via Harvest (OAuth)"
                required: 
                  - "client_id"
                  - "client_secret"
                  - "refresh_token"
                additionalProperties: true
                properties: 
                  auth_type: 
                    type: "string"
                    const: "Client"
                    order: 0
                    enum: 
                      - "Client"
                  client_id: 
                    title: "Client ID"
                    type: "string"
                    description: "The Client ID of your Harvest developer application."
                  client_secret: 
                    title: "Client Secret"
                    type: "string"
                    description: "The Client Secret of your Harvest developer application."
                    airbyte_secret: true
                  refresh_token: 
                    title: "Refresh Token"
                    type: "string"
                    description: "Refresh Token to renew the expired Access Token."
                    airbyte_secret: true
              - 
                type: "object"
                title: "Authenticate with Personal Access Token"
                required: 
                  - "api_token"
                additionalProperties: true
                properties: 
                  auth_type: 
                    type: "string"
                    const: "Token"
                    order: 0
                    enum: 
                      - "Token"
                  api_token: 
                    title: "Personal Access Token"
                    description: "Log into Harvest and then create new <a href=\"https://id.getharvest.com/developers\"> personal access token</a>."
                    type: "string"
                    airbyte_secret: true
      source-yotpo: 
        title: "Yotpo Spec"
        type: "object"
        required: 
          - "access_token"
          - "app_key"
          - "start_date"
          - "email"
          - "sourceType"
        properties: 
          access_token: 
            title: "Access Token"
            type: "string"
            description: "Access token recieved as a result of API call to https://api.yotpo.com/oauth/token (Ref- https://apidocs.yotpo.com/reference/yotpo-authentication)"
            airbyte_secret: true
          app_key: 
            title: "App Key"
            type: "string"
            description: "App key found at settings (Ref- https://settings.yotpo.com/#/general_settings)"
          start_date: 
            title: "Date-From Filter"
            type: "string"
            description: "Date time filter for incremental filter, Specify which date to extract from."
            pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}.[0-9]{3}Z$"
            examples: 
              - "2022-03-01T00:00:00.000Z"
            format: "date-time"
          email: 
            title: "Registered email address"
            type: "string"
            description: "Email address registered with yotpo."
            default: "example@gmail.com"
          sourceType: 
            title: "yotpo"
            const: "yotpo"
            enum: 
              - "yotpo"
            order: 0
            type: "string"
      source-yotpo-update: 
        title: "Yotpo Spec"
        type: "object"
        required: 
          - "access_token"
          - "app_key"
          - "start_date"
          - "email"
        properties: 
          access_token: 
            title: "Access Token"
            type: "string"
            description: "Access token recieved as a result of API call to https://api.yotpo.com/oauth/token (Ref- https://apidocs.yotpo.com/reference/yotpo-authentication)"
            airbyte_secret: true
          app_key: 
            title: "App Key"
            type: "string"
            description: "App key found at settings (Ref- https://settings.yotpo.com/#/general_settings)"
          start_date: 
            title: "Date-From Filter"
            type: "string"
            description: "Date time filter for incremental filter, Specify which date to extract from."
            pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}.[0-9]{3}Z$"
            examples: 
              - "2022-03-01T00:00:00.000Z"
            format: "date-time"
          email: 
            title: "Registered email address"
            type: "string"
            description: "Email address registered with yotpo."
            default: "example@gmail.com"
      source-prestashop: 
        title: "PrestaShop Spec"
        type: "object"
        required: 
          - "access_key"
          - "url"
          - "start_date"
          - "sourceType"
        properties: 
          access_key: 
            type: "string"
            title: "Access Key"
            description: "Your PrestaShop access key. See <a href=\"https://devdocs.prestashop.com/1.7/webservice/tutorials/creating-access/#create-an-access-key\"> the docs </a> for info on how to obtain this."
            order: 0
            airbyte_secret: true
          url: 
            type: "string"
            title: "Shop URL"
            description: "Shop URL without trailing slash."
            order: 1
          start_date: 
            type: "string"
            title: "Start date"
            description: "The Start date in the format YYYY-MM-DD."
            pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
            examples: 
              - "2022-01-01"
            format: "date"
            order: 2
          sourceType: 
            title: "prestashop"
            const: "prestashop"
            enum: 
              - "prestashop"
            order: 0
            type: "string"
      source-prestashop-update: 
        title: "PrestaShop Spec"
        type: "object"
        required: 
          - "access_key"
          - "url"
          - "start_date"
        properties: 
          access_key: 
            type: "string"
            title: "Access Key"
            description: "Your PrestaShop access key. See <a href=\"https://devdocs.prestashop.com/1.7/webservice/tutorials/creating-access/#create-an-access-key\"> the docs </a> for info on how to obtain this."
            order: 0
            airbyte_secret: true
          url: 
            type: "string"
            title: "Shop URL"
            description: "Shop URL without trailing slash."
            order: 1
          start_date: 
            type: "string"
            title: "Start date"
            description: "The Start date in the format YYYY-MM-DD."
            pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
            examples: 
              - "2022-01-01"
            format: "date"
            order: 2
      source-netsuite: 
        title: "Netsuite Spec"
        type: "object"
        required: 
          - "realm"
          - "consumer_key"
          - "consumer_secret"
          - "token_key"
          - "token_secret"
          - "start_datetime"
          - "sourceType"
        properties: 
          realm: 
            type: "string"
            title: "Realm (Account Id)"
            description: "Netsuite realm e.g. 2344535, as for `production` or 2344535_SB1, as for the `sandbox`"
            order: 0
            airbyte_secret: true
          consumer_key: 
            type: "string"
            title: "Consumer Key"
            description: "Consumer key associated with your integration"
            order: 1
            airbyte_secret: true
          consumer_secret: 
            type: "string"
            title: "Consumer Secret"
            description: "Consumer secret associated with your integration"
            order: 2
            airbyte_secret: true
          token_key: 
            type: "string"
            title: "Token Key (Token Id)"
            description: "Access token key"
            order: 3
            airbyte_secret: true
          token_secret: 
            type: "string"
            title: "Token Secret"
            description: "Access token secret"
            order: 4
            airbyte_secret: true
          object_types: 
            type: "array"
            title: "Object Types"
            items: 
              type: "string"
            description: "The API names of the Netsuite objects you want to sync. Setting this speeds up the connection setup process by limiting the number of schemas that need to be retrieved from Netsuite."
            order: 5
            examples: 
              - "customer"
              - "salesorder"
              - "etc"
            default: []
          start_datetime: 
            type: "string"
            title: "Start Date"
            description: "Starting point for your data replication, in format of \"YYYY-MM-DDTHH:mm:ssZ\""
            order: 6
            pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
            examples: 
              - "2017-01-25T00:00:00Z"
          window_in_days: 
            type: "integer"
            title: "Window in Days"
            description: "The amount of days used to query the data with date chunks. Set smaller value, if you have lots of data."
            order: 7
            default: 30
          sourceType: 
            title: "netsuite"
            const: "netsuite"
            enum: 
              - "netsuite"
            order: 0
            type: "string"
      source-netsuite-update: 
        title: "Netsuite Spec"
        type: "object"
        required: 
          - "realm"
          - "consumer_key"
          - "consumer_secret"
          - "token_key"
          - "token_secret"
          - "start_datetime"
        properties: 
          realm: 
            type: "string"
            title: "Realm (Account Id)"
            description: "Netsuite realm e.g. 2344535, as for `production` or 2344535_SB1, as for the `sandbox`"
            order: 0
            airbyte_secret: true
          consumer_key: 
            type: "string"
            title: "Consumer Key"
            description: "Consumer key associated with your integration"
            order: 1
            airbyte_secret: true
          consumer_secret: 
            type: "string"
            title: "Consumer Secret"
            description: "Consumer secret associated with your integration"
            order: 2
            airbyte_secret: true
          token_key: 
            type: "string"
            title: "Token Key (Token Id)"
            description: "Access token key"
            order: 3
            airbyte_secret: true
          token_secret: 
            type: "string"
            title: "Token Secret"
            description: "Access token secret"
            order: 4
            airbyte_secret: true
          object_types: 
            type: "array"
            title: "Object Types"
            items: 
              type: "string"
            description: "The API names of the Netsuite objects you want to sync. Setting this speeds up the connection setup process by limiting the number of schemas that need to be retrieved from Netsuite."
            order: 5
            examples: 
              - "customer"
              - "salesorder"
              - "etc"
            default: []
          start_datetime: 
            type: "string"
            title: "Start Date"
            description: "Starting point for your data replication, in format of \"YYYY-MM-DDTHH:mm:ssZ\""
            order: 6
            pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
            examples: 
              - "2017-01-25T00:00:00Z"
          window_in_days: 
            type: "integer"
            title: "Window in Days"
            description: "The amount of days used to query the data with date chunks. Set smaller value, if you have lots of data."
            order: 7
            default: 30
      source-convex: 
        title: "Convex Source Spec"
        type: "object"
        required: 
          - "deployment_url"
          - "access_key"
          - "sourceType"
        properties: 
          deployment_url: 
            type: "string"
            title: "Deployment Url"
            examples: 
              - "https://murky-swan-635.convex.cloud"
              - "https://cluttered-owl-337.convex.cloud"
          access_key: 
            type: "string"
            title: "Access Key"
            description: "API access key used to retrieve data from Convex."
            airbyte_secret: true
          sourceType: 
            title: "convex"
            const: "convex"
            enum: 
              - "convex"
            order: 0
            type: "string"
      source-convex-update: 
        title: "Convex Source Spec"
        type: "object"
        required: 
          - "deployment_url"
          - "access_key"
        properties: 
          deployment_url: 
            type: "string"
            title: "Deployment Url"
            examples: 
              - "https://murky-swan-635.convex.cloud"
              - "https://cluttered-owl-337.convex.cloud"
          access_key: 
            type: "string"
            title: "Access Key"
            description: "API access key used to retrieve data from Convex."
            airbyte_secret: true
      source-recurly: 
        title: "Recurly Source Spec"
        type: "object"
        required: 
          - "api_key"
          - "sourceType"
        properties: 
          api_key: 
            type: "string"
            title: "API Key"
            airbyte_secret: true
            description: "Recurly API Key. See the  <a href=\"https://docs.airbyte.com/integrations/sources/recurly\">docs</a> for more information on how to generate this key."
            order: 1
          begin_time: 
            type: "string"
            description: "ISO8601 timestamp from which the replication from Recurly API will start from."
            examples: 
              - "2021-12-01T00:00:00"
            pattern: "^$|^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}$"
            order: 2
          end_time: 
            type: "string"
            description: "ISO8601 timestamp to which the replication from Recurly API will stop. Records after that date won't be imported."
            examples: 
              - "2021-12-01T00:00:00"
            pattern: "^$|^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}$"
            order: 3
          sourceType: 
            title: "recurly"
            const: "recurly"
            enum: 
              - "recurly"
            order: 0
            type: "string"
      source-recurly-update: 
        title: "Recurly Source Spec"
        type: "object"
        required: 
          - "api_key"
        properties: 
          api_key: 
            type: "string"
            title: "API Key"
            airbyte_secret: true
            description: "Recurly API Key. See the  <a href=\"https://docs.airbyte.com/integrations/sources/recurly\">docs</a> for more information on how to generate this key."
            order: 1
          begin_time: 
            type: "string"
            description: "ISO8601 timestamp from which the replication from Recurly API will start from."
            examples: 
              - "2021-12-01T00:00:00"
            pattern: "^$|^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}$"
            order: 2
          end_time: 
            type: "string"
            description: "ISO8601 timestamp to which the replication from Recurly API will stop. Records after that date won't be imported."
            examples: 
              - "2021-12-01T00:00:00"
            pattern: "^$|^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}$"
            order: 3
      source-zendesk-chat: 
        title: "Zendesk Chat Spec"
        type: "object"
        required: 
          - "start_date"
          - "sourceType"
        properties: 
          start_date: 
            type: "string"
            title: "Start Date"
            description: "The date from which you'd like to replicate data for Zendesk Chat API, in the format YYYY-MM-DDT00:00:00Z."
            examples: 
              - "2021-02-01T00:00:00Z"
            pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
            format: "date-time"
          subdomain: 
            type: "string"
            title: "Subdomain"
            description: "Required if you access Zendesk Chat from a Zendesk Support subdomain."
            default: ""
          credentials: 
            title: "Authorization Method"
            type: "object"
            oneOf: 
              - 
                type: "object"
                title: "OAuth2.0"
                required: 
                  - "credentials"
                properties: 
                  credentials: 
                    type: "string"
                    const: "oauth2.0"
                    order: 0
                    enum: 
                      - "oauth2.0"
                  client_id: 
                    type: "string"
                    title: "Client ID"
                    description: "The Client ID of your OAuth application"
                    airbyte_secret: true
                  client_secret: 
                    type: "string"
                    title: "Client Secret"
                    description: "The Client Secret of your OAuth application."
                    airbyte_secret: true
                  access_token: 
                    type: "string"
                    title: "Access Token"
                    description: "Access Token for making authenticated requests."
                    airbyte_secret: true
                  refresh_token: 
                    type: "string"
                    title: "Refresh Token"
                    description: "Refresh Token to obtain new Access Token, when it's expired."
                    airbyte_secret: true
              - 
                type: "object"
                title: "Access Token"
                required: 
                  - "credentials"
                  - "access_token"
                properties: 
                  credentials: 
                    type: "string"
                    const: "access_token"
                    order: 0
                    enum: 
                      - "access_token"
                  access_token: 
                    type: "string"
                    title: "Access Token"
                    description: "The Access Token to make authenticated requests."
                    airbyte_secret: true
          sourceType: 
            title: "zendesk-chat"
            const: "zendesk-chat"
            enum: 
              - "zendesk-chat"
            order: 0
            type: "string"
      source-zendesk-chat-update: 
        title: "Zendesk Chat Spec"
        type: "object"
        required: 
          - "start_date"
        properties: 
          start_date: 
            type: "string"
            title: "Start Date"
            description: "The date from which you'd like to replicate data for Zendesk Chat API, in the format YYYY-MM-DDT00:00:00Z."
            examples: 
              - "2021-02-01T00:00:00Z"
            pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
            format: "date-time"
          subdomain: 
            type: "string"
            title: "Subdomain"
            description: "Required if you access Zendesk Chat from a Zendesk Support subdomain."
            default: ""
          credentials: 
            title: "Authorization Method"
            type: "object"
            oneOf: 
              - 
                type: "object"
                title: "OAuth2.0"
                required: 
                  - "credentials"
                properties: 
                  credentials: 
                    type: "string"
                    const: "oauth2.0"
                    order: 0
                    enum: 
                      - "oauth2.0"
                  client_id: 
                    type: "string"
                    title: "Client ID"
                    description: "The Client ID of your OAuth application"
                    airbyte_secret: true
                  client_secret: 
                    type: "string"
                    title: "Client Secret"
                    description: "The Client Secret of your OAuth application."
                    airbyte_secret: true
                  access_token: 
                    type: "string"
                    title: "Access Token"
                    description: "Access Token for making authenticated requests."
                    airbyte_secret: true
                  refresh_token: 
                    type: "string"
                    title: "Refresh Token"
                    description: "Refresh Token to obtain new Access Token, when it's expired."
                    airbyte_secret: true
              - 
                type: "object"
                title: "Access Token"
                required: 
                  - "credentials"
                  - "access_token"
                properties: 
                  credentials: 
                    type: "string"
                    const: "access_token"
                    order: 0
                    enum: 
                      - "access_token"
                  access_token: 
                    type: "string"
                    title: "Access Token"
                    description: "The Access Token to make authenticated requests."
                    airbyte_secret: true
      source-my-hours: 
        title: "My Hours Spec"
        type: "object"
        required: 
          - "email"
          - "password"
          - "start_date"
          - "sourceType"
        properties: 
          email: 
            title: "Email"
            type: "string"
            description: "Your My Hours username"
            example: "john@doe.com"
          password: 
            title: "Password"
            type: "string"
            description: "The password associated to the username"
            airbyte_secret: true
          start_date: 
            title: "Start Date"
            description: "Start date for collecting time logs"
            examples: 
              - "%Y-%m-%d"
              - "2016-01-01"
            type: "string"
            pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
          logs_batch_size: 
            title: "Time logs batch size"
            description: "Pagination size used for retrieving logs in days"
            examples: 
              - 30
            type: "integer"
            minimum: 1
            maximum: 365
            default: 30
          sourceType: 
            title: "my-hours"
            const: "my-hours"
            enum: 
              - "my-hours"
            order: 0
            type: "string"
      source-my-hours-update: 
        title: "My Hours Spec"
        type: "object"
        required: 
          - "email"
          - "password"
          - "start_date"
        properties: 
          email: 
            title: "Email"
            type: "string"
            description: "Your My Hours username"
            example: "john@doe.com"
          password: 
            title: "Password"
            type: "string"
            description: "The password associated to the username"
            airbyte_secret: true
          start_date: 
            title: "Start Date"
            description: "Start date for collecting time logs"
            examples: 
              - "%Y-%m-%d"
              - "2016-01-01"
            type: "string"
            pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
          logs_batch_size: 
            title: "Time logs batch size"
            description: "Pagination size used for retrieving logs in days"
            examples: 
              - 30
            type: "integer"
            minimum: 1
            maximum: 365
            default: 30
      source-klaviyo: 
        title: "Klaviyo Spec"
        type: "object"
        properties: 
          api_key: 
            title: "Api Key"
            description: "Klaviyo API Key. See our <a href=\"https://docs.airbyte.com/integrations/sources/klaviyo\">docs</a> if you need help finding this key."
            airbyte_secret: true
            type: "string"
          start_date: 
            title: "Start Date"
            description: "UTC date and time in the format 2017-01-25T00:00:00Z. Any data before this date will not be replicated."
            pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
            examples: 
              - "2017-01-25T00:00:00Z"
            type: "string"
            format: "date-time"
          sourceType: 
            title: "klaviyo"
            const: "klaviyo"
            enum: 
              - "klaviyo"
            order: 0
            type: "string"
        required: 
          - "api_key"
          - "start_date"
          - "sourceType"
      source-klaviyo-update: 
        title: "Klaviyo Spec"
        type: "object"
        properties: 
          api_key: 
            title: "Api Key"
            description: "Klaviyo API Key. See our <a href=\"https://docs.airbyte.com/integrations/sources/klaviyo\">docs</a> if you need help finding this key."
            airbyte_secret: true
            type: "string"
          start_date: 
            title: "Start Date"
            description: "UTC date and time in the format 2017-01-25T00:00:00Z. Any data before this date will not be replicated."
            pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
            examples: 
              - "2017-01-25T00:00:00Z"
            type: "string"
            format: "date-time"
        required: 
          - "api_key"
          - "start_date"
      source-quickbooks: 
        title: "Source QuickBooks Spec"
        type: "object"
        required: 
          - "credentials"
          - "start_date"
          - "sandbox"
          - "sourceType"
        properties: 
          credentials: 
            title: "Authorization Method"
            type: "object"
            order: 0
            oneOf: 
              - 
                type: "object"
                title: "OAuth2.0"
                required: 
                  - "client_id"
                  - "client_secret"
                  - "refresh_token"
                  - "access_token"
                  - "token_expiry_date"
                  - "realm_id"
                properties: 
                  auth_type: 
                    type: "string"
                    const: "oauth2.0"
                    enum: 
                      - "oauth2.0"
                  client_id: 
                    type: "string"
                    title: "Client ID"
                    description: "Identifies which app is making the request. Obtain this value from the Keys tab on the app profile via My Apps on the developer site. There are two versions of this key: development and production."
                  client_secret: 
                    description: " Obtain this value from the Keys tab on the app profile via My Apps on the developer site. There are two versions of this key: development and production."
                    title: "Client Secret"
                    type: "string"
                    airbyte_secret: true
                  refresh_token: 
                    description: "A token used when refreshing the access token."
                    title: "Refresh Token"
                    type: "string"
                    airbyte_secret: true
                  access_token: 
                    description: "Access token fot making authenticated requests."
                    title: "Access Token"
                    type: "string"
                    airbyte_secret: true
                  token_expiry_date: 
                    type: "string"
                    title: "Token Expiry Date"
                    description: "The date-time when the access token should be refreshed."
                    format: "date-time"
                  realm_id: 
                    description: "Labeled Company ID. The Make API Calls panel is populated with the realm id and the current access token."
                    title: "Realm ID"
                    type: "string"
                    airbyte_secret: true
          start_date: 
            order: 1
            description: "The default value to use if no bookmark exists for an endpoint (rfc3339 date string). E.g, 2021-03-20T00:00:00Z. Any data before this date will not be replicated."
            title: "Start Date"
            type: "string"
            format: "date-time"
            pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
            examples: 
              - "2021-03-20T00:00:00Z"
          sandbox: 
            order: 2
            description: "Determines whether to use the sandbox or production environment."
            title: "Sandbox"
            type: "boolean"
            default: false
          sourceType: 
            title: "quickbooks"
            const: "quickbooks"
            enum: 
              - "quickbooks"
            order: 0
            type: "string"
      source-quickbooks-update: 
        title: "Source QuickBooks Spec"
        type: "object"
        required: 
          - "credentials"
          - "start_date"
          - "sandbox"
        properties: 
          credentials: 
            title: "Authorization Method"
            type: "object"
            order: 0
            oneOf: 
              - 
                type: "object"
                title: "OAuth2.0"
                required: 
                  - "client_id"
                  - "client_secret"
                  - "refresh_token"
                  - "access_token"
                  - "token_expiry_date"
                  - "realm_id"
                properties: 
                  auth_type: 
                    type: "string"
                    const: "oauth2.0"
                    enum: 
                      - "oauth2.0"
                  client_id: 
                    type: "string"
                    title: "Client ID"
                    description: "Identifies which app is making the request. Obtain this value from the Keys tab on the app profile via My Apps on the developer site. There are two versions of this key: development and production."
                  client_secret: 
                    description: " Obtain this value from the Keys tab on the app profile via My Apps on the developer site. There are two versions of this key: development and production."
                    title: "Client Secret"
                    type: "string"
                    airbyte_secret: true
                  refresh_token: 
                    description: "A token used when refreshing the access token."
                    title: "Refresh Token"
                    type: "string"
                    airbyte_secret: true
                  access_token: 
                    description: "Access token fot making authenticated requests."
                    title: "Access Token"
                    type: "string"
                    airbyte_secret: true
                  token_expiry_date: 
                    type: "string"
                    title: "Token Expiry Date"
                    description: "The date-time when the access token should be refreshed."
                    format: "date-time"
                  realm_id: 
                    description: "Labeled Company ID. The Make API Calls panel is populated with the realm id and the current access token."
                    title: "Realm ID"
                    type: "string"
                    airbyte_secret: true
          start_date: 
            order: 1
            description: "The default value to use if no bookmark exists for an endpoint (rfc3339 date string). E.g, 2021-03-20T00:00:00Z. Any data before this date will not be replicated."
            title: "Start Date"
            type: "string"
            format: "date-time"
            pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
            examples: 
              - "2021-03-20T00:00:00Z"
          sandbox: 
            order: 2
            description: "Determines whether to use the sandbox or production environment."
            title: "Sandbox"
            type: "boolean"
            default: false
      source-dockerhub: 
        type: "object"
        required: 
          - "docker_username"
          - "sourceType"
        properties: 
          docker_username: 
            type: "string"
            order: 0
            title: "Docker Username"
            description: "Username of DockerHub person or organization (for https://hub.docker.com/v2/repositories/USERNAME/ API call)"
            pattern: "^[a-z0-9_\\-]+$"
            examples: 
              - "airbyte"
          sourceType: 
            title: "dockerhub"
            const: "dockerhub"
            enum: 
              - "dockerhub"
            order: 0
            type: "string"
      source-dockerhub-update: 
        type: "object"
        required: 
          - "docker_username"
        properties: 
          docker_username: 
            type: "string"
            order: 0
            title: "Docker Username"
            description: "Username of DockerHub person or organization (for https://hub.docker.com/v2/repositories/USERNAME/ API call)"
            pattern: "^[a-z0-9_\\-]+$"
            examples: 
              - "airbyte"
      source-webflow: 
        title: "Webflow Spec"
        type: "object"
        required: 
          - "api_key"
          - "site_id"
          - "sourceType"
        properties: 
          site_id: 
            title: "Site id"
            type: "string"
            description: "The id of the Webflow site you are requesting data from. See https://developers.webflow.com/#sites"
            example: "a relatively long hex sequence"
            order: 0
          api_key: 
            title: "API token"
            type: "string"
            description: "The API token for authenticating to Webflow. See https://university.webflow.com/lesson/intro-to-the-webflow-api"
            example: "a very long hex sequence"
            order: 1
            airbyte_secret: true
          sourceType: 
            title: "webflow"
            const: "webflow"
            enum: 
              - "webflow"
            order: 0
            type: "string"
      source-webflow-update: 
        title: "Webflow Spec"
        type: "object"
        required: 
          - "api_key"
          - "site_id"
        properties: 
          site_id: 
            title: "Site id"
            type: "string"
            description: "The id of the Webflow site you are requesting data from. See https://developers.webflow.com/#sites"
            example: "a relatively long hex sequence"
            order: 0
          api_key: 
            title: "API token"
            type: "string"
            description: "The API token for authenticating to Webflow. See https://university.webflow.com/lesson/intro-to-the-webflow-api"
            example: "a very long hex sequence"
            order: 1
            airbyte_secret: true
      source-wikipedia-pageviews: 
        title: "Wikipedia Pageviews Spec"
        type: "object"
        required: 
          - "project"
          - "access"
          - "agent"
          - "article"
          - "start"
          - "end"
          - "country"
          - "sourceType"
        properties: 
          project: 
            type: "string"
            title: "Project"
            description: "If you want to filter by project, use the domain of any Wikimedia project."
            examples: 
              - "en.wikipedia.org"
              - "www.mediawiki.org"
              - "commons.wikimedia.org"
          access: 
            type: "string"
            title: "Access"
            description: "If you want to filter by access method, use one of desktop, mobile-app or mobile-web. If you are interested in pageviews regardless of access method, use all-access."
            examples: 
              - "all-access"
              - "desktop"
              - "mobile-app"
              - "mobile-web"
          agent: 
            type: "string"
            title: "Agent"
            description: "If you want to filter by agent type, use one of user, automated or spider. If you are interested in pageviews regardless of agent type, use all-agents."
            examples: 
              - "all-agents"
              - "user"
              - "spider"
              - "automated"
          article: 
            type: "string"
            title: "Article"
            description: "The title of any article in the specified project. Any spaces should be replaced with underscores. It also should be URI-encoded, so that non-URI-safe characters like %, / or ? are accepted."
            examples: 
              - "Are_You_the_One%3F"
          start: 
            type: "string"
            title: "Start"
            description: "The date of the first day to include, in YYYYMMDD or YYYYMMDDHH format."
          end: 
            type: "string"
            title: "End"
            description: "The date of the last day to include, in YYYYMMDD or YYYYMMDDHH format."
          country: 
            type: "string"
            title: "Country"
            description: "The ISO 3166-1 alpha-2 code of a country for which to retrieve top articles."
            examples: 
              - "FR"
              - "IN"
          sourceType: 
            title: "wikipedia-pageviews"
            const: "wikipedia-pageviews"
            enum: 
              - "wikipedia-pageviews"
            order: 0
            type: "string"
      source-wikipedia-pageviews-update: 
        title: "Wikipedia Pageviews Spec"
        type: "object"
        required: 
          - "project"
          - "access"
          - "agent"
          - "article"
          - "start"
          - "end"
          - "country"
        properties: 
          project: 
            type: "string"
            title: "Project"
            description: "If you want to filter by project, use the domain of any Wikimedia project."
            examples: 
              - "en.wikipedia.org"
              - "www.mediawiki.org"
              - "commons.wikimedia.org"
          access: 
            type: "string"
            title: "Access"
            description: "If you want to filter by access method, use one of desktop, mobile-app or mobile-web. If you are interested in pageviews regardless of access method, use all-access."
            examples: 
              - "all-access"
              - "desktop"
              - "mobile-app"
              - "mobile-web"
          agent: 
            type: "string"
            title: "Agent"
            description: "If you want to filter by agent type, use one of user, automated or spider. If you are interested in pageviews regardless of agent type, use all-agents."
            examples: 
              - "all-agents"
              - "user"
              - "spider"
              - "automated"
          article: 
            type: "string"
            title: "Article"
            description: "The title of any article in the specified project. Any spaces should be replaced with underscores. It also should be URI-encoded, so that non-URI-safe characters like %, / or ? are accepted."
            examples: 
              - "Are_You_the_One%3F"
          start: 
            type: "string"
            title: "Start"
            description: "The date of the first day to include, in YYYYMMDD or YYYYMMDDHH format."
          end: 
            type: "string"
            title: "End"
            description: "The date of the last day to include, in YYYYMMDD or YYYYMMDDHH format."
          country: 
            type: "string"
            title: "Country"
            description: "The ISO 3166-1 alpha-2 code of a country for which to retrieve top articles."
            examples: 
              - "FR"
              - "IN"
      source-google-directory: 
        title: "Google Directory Spec"
        type: "object"
        required: 
          - "sourceType"
        properties: 
          credentials: 
            title: "Google Credentials"
            description: "Google APIs use the OAuth 2.0 protocol for authentication and authorization. The Source supports <a href=\"https://developers.google.com/identity/protocols/oauth2#webserver\" target=\"_blank\">Web server application</a> and <a href=\"https://developers.google.com/identity/protocols/oauth2#serviceaccount\" target=\"_blank\">Service accounts</a> scenarios."
            type: "object"
            oneOf: 
              - 
                title: "Sign in via Google (OAuth)"
                description: "For these scenario user only needs to give permission to read Google Directory data."
                type: "object"
                required: 
                  - "client_id"
                  - "client_secret"
                  - "refresh_token"
                properties: 
                  credentials_title: 
                    type: "string"
                    title: "Credentials Title"
                    description: "Authentication Scenario"
                    const: "Web server app"
                    order: 0
                    enum: 
                      - "Web server app"
                  client_id: 
                    title: "Client ID"
                    type: "string"
                    description: "The Client ID of the developer application."
                    airbyte_secret: true
                  client_secret: 
                    title: "Client secret"
                    type: "string"
                    description: "The Client Secret of the developer application."
                    airbyte_secret: true
                  refresh_token: 
                    title: "Refresh Token"
                    type: "string"
                    description: "The Token for obtaining a new access token."
                    airbyte_secret: true
              - 
                title: "Service Account Key"
                description: "For these scenario user should obtain service account's credentials from the Google API Console and provide delegated email."
                type: "object"
                required: 
                  - "credentials_json"
                  - "email"
                properties: 
                  credentials_title: 
                    type: "string"
                    title: "Credentials Title"
                    description: "Authentication Scenario"
                    const: "Service accounts"
                    order: 0
                    enum: 
                      - "Service accounts"
                  credentials_json: 
                    type: "string"
                    title: "Credentials JSON"
                    description: "The contents of the JSON service account key. See the <a href=\"https://developers.google.com/admin-sdk/directory/v1/guides/delegation\">docs</a> for more information on how to generate this key."
                    airbyte_secret: true
                  email: 
                    type: "string"
                    title: "Email"
                    description: "The email of the user, which has permissions to access the Google Workspace Admin APIs."
          sourceType: 
            title: "google-directory"
            const: "google-directory"
            enum: 
              - "google-directory"
            order: 0
            type: "string"
      source-google-directory-update: 
        title: "Google Directory Spec"
        type: "object"
        required: []
        properties: 
          credentials: 
            title: "Google Credentials"
            description: "Google APIs use the OAuth 2.0 protocol for authentication and authorization. The Source supports <a href=\"https://developers.google.com/identity/protocols/oauth2#webserver\" target=\"_blank\">Web server application</a> and <a href=\"https://developers.google.com/identity/protocols/oauth2#serviceaccount\" target=\"_blank\">Service accounts</a> scenarios."
            type: "object"
            oneOf: 
              - 
                title: "Sign in via Google (OAuth)"
                description: "For these scenario user only needs to give permission to read Google Directory data."
                type: "object"
                required: 
                  - "client_id"
                  - "client_secret"
                  - "refresh_token"
                properties: 
                  credentials_title: 
                    type: "string"
                    title: "Credentials Title"
                    description: "Authentication Scenario"
                    const: "Web server app"
                    order: 0
                    enum: 
                      - "Web server app"
                  client_id: 
                    title: "Client ID"
                    type: "string"
                    description: "The Client ID of the developer application."
                    airbyte_secret: true
                  client_secret: 
                    title: "Client secret"
                    type: "string"
                    description: "The Client Secret of the developer application."
                    airbyte_secret: true
                  refresh_token: 
                    title: "Refresh Token"
                    type: "string"
                    description: "The Token for obtaining a new access token."
                    airbyte_secret: true
              - 
                title: "Service Account Key"
                description: "For these scenario user should obtain service account's credentials from the Google API Console and provide delegated email."
                type: "object"
                required: 
                  - "credentials_json"
                  - "email"
                properties: 
                  credentials_title: 
                    type: "string"
                    title: "Credentials Title"
                    description: "Authentication Scenario"
                    const: "Service accounts"
                    order: 0
                    enum: 
                      - "Service accounts"
                  credentials_json: 
                    type: "string"
                    title: "Credentials JSON"
                    description: "The contents of the JSON service account key. See the <a href=\"https://developers.google.com/admin-sdk/directory/v1/guides/delegation\">docs</a> for more information on how to generate this key."
                    airbyte_secret: true
                  email: 
                    type: "string"
                    title: "Email"
                    description: "The email of the user, which has permissions to access the Google Workspace Admin APIs."
      source-smartengage: 
        title: "SmartEngage Spec"
        type: "object"
        required: 
          - "api_key"
          - "sourceType"
        properties: 
          api_key: 
            title: "API Key"
            type: "string"
            description: "API Key"
            airbyte_secret: true
          sourceType: 
            title: "smartengage"
            const: "smartengage"
            enum: 
              - "smartengage"
            order: 0
            type: "string"
      source-smartengage-update: 
        title: "SmartEngage Spec"
        type: "object"
        required: 
          - "api_key"
        properties: 
          api_key: 
            title: "API Key"
            type: "string"
            description: "API Key"
            airbyte_secret: true
      source-outbrain-amplify: 
        title: "Outbrain Amplify Spec"
        type: "object"
        required: 
          - "credentials"
          - "start_date"
          - "sourceType"
        properties: 
          credentials: 
            title: "Authentication Method"
            description: "Credentials for making authenticated requests requires either username/password or access_token."
            default: {}
            order: 0
            type: "object"
            oneOf: 
              - 
                title: "Access token"
                type: "object"
                properties: 
                  type: 
                    title: "Access token is required for authentication requests."
                    const: "access_token"
                    type: "string"
                    enum: 
                      - "access_token"
                  access_token: 
                    type: "string"
                    description: "Access Token for making authenticated requests."
                    airbyte_secret: true
                required: 
                  - "type"
                  - "access_token"
              - 
                title: "Username Password"
                type: "object"
                properties: 
                  type: 
                    title: "Both username and password is required for authentication request."
                    const: "username_password"
                    type: "string"
                    enum: 
                      - "username_password"
                  username: 
                    type: "string"
                    description: "Add Username for authentication."
                  password: 
                    type: "string"
                    description: "Add Password for authentication."
                    airbyte_secret: true
                required: 
                  - "type"
                  - "username"
                  - "password"
          report_granularity: 
            title: "Granularity for periodic reports."
            description: "The granularity used for periodic data in reports. See <a href=\"https://amplifyv01.docs.apiary.io/#reference/performance-reporting/periodic/retrieve-performance-statistics-for-all-marketer-campaigns-by-periodic-breakdown\">the docs</a>."
            enum: 
              - "daily"
              - "weekly"
              - "monthly"
            order: 1
            type: "string"
          geo_location_breakdown: 
            title: "Granularity for geo-location region."
            description: "The granularity used for geo location data in reports."
            enum: 
              - "country"
              - "region"
              - "subregion"
            order: 2
            type: "string"
          start_date: 
            type: "string"
            order: 3
            description: "Date in the format YYYY-MM-DD eg. 2017-01-25. Any data before this date will not be replicated."
            pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
          end_date: 
            type: "string"
            order: 4
            description: "Date in the format YYYY-MM-DD."
            pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
          sourceType: 
            title: "outbrain-amplify"
            const: "outbrain-amplify"
            enum: 
              - "outbrain-amplify"
            order: 0
            type: "string"
      source-outbrain-amplify-update: 
        title: "Outbrain Amplify Spec"
        type: "object"
        required: 
          - "credentials"
          - "start_date"
        properties: 
          credentials: 
            title: "Authentication Method"
            description: "Credentials for making authenticated requests requires either username/password or access_token."
            default: {}
            order: 0
            type: "object"
            oneOf: 
              - 
                title: "Access token"
                type: "object"
                properties: 
                  type: 
                    title: "Access token is required for authentication requests."
                    const: "access_token"
                    type: "string"
                    enum: 
                      - "access_token"
                  access_token: 
                    type: "string"
                    description: "Access Token for making authenticated requests."
                    airbyte_secret: true
                required: 
                  - "type"
                  - "access_token"
              - 
                title: "Username Password"
                type: "object"
                properties: 
                  type: 
                    title: "Both username and password is required for authentication request."
                    const: "username_password"
                    type: "string"
                    enum: 
                      - "username_password"
                  username: 
                    type: "string"
                    description: "Add Username for authentication."
                  password: 
                    type: "string"
                    description: "Add Password for authentication."
                    airbyte_secret: true
                required: 
                  - "type"
                  - "username"
                  - "password"
          report_granularity: 
            title: "Granularity for periodic reports."
[...]
